dt, dd {
  display: inline-block;
  vertical-align: top;
}

dt {
  width: 5%;
}
dd {
  width: 95%;
}

.issue dt {
  width: 25%;
}
.issue dd {
  width: 75%;
}

.page-image {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.page-analysis, .page-elements {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.page-analysis ul, .page-elements ul {
  overflow: scroll;
}

img {
  width: 100%;
}

section {
  padding: 0.5rem;
}

ul {
  padding: 0.25rem;
  list-style-type: none;
}

ul.toggle li {
  display: none;
}

header {
  padding: 0.5rem;
}

div.error + ul.toggle li.error,
div.warning + ul.toggle li.warning,
div.notice + ul.toggle li.notice {
  display: block;
}
